@use "./utils" as *;
@use "./sidebar";

.lsc-dashboard {
	@apply flex gap-6 py-4 px-0 lg:p-6 bg-white;

	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	@media (max-width: 960px) {
		.container {
			max-width: 100% !important;
		}
	}
	@media (min-width: 992px) {
		.container {
			max-width: 980px;
		}
	}
	@media (min-width: 1200px) {
		.container {
			max-width: 1150px;
		}
	}
	@media (min-width: 1400px) {
		.container {
			max-width: 1300px;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		flex-grow: 2;
		width: calc(100% - 276px);
		.dashboard-content {
			margin-top: 1.5rem;
			flex-grow: 2;
			@include mq(tablet) {
				margin-top: 0rem;
			}

			.pg-title {
				@apply text-xl font-medium mb-2;
			}
		}
		@include mq(tablet) {
			width: 100%;
			max-width: 100vw;
		}
	}

	.lsc-nav {
		width: 100%;
		@apply flex items-center justify-between;

		@include mq(desktop) {
			.btn {
				display: flex;
				margin-right: 1rem;
			}
		}
	}

	.overlay {
		position: fixed;
		inset: 0;
		background-color: #00000091;
		z-index: 50;
	}

	.title-sm {
		@apply uppercase text-[10px] mb-2 font-semibold text-[#4F4F4F];
	}
}
