@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #161616;
		--primary: #3d51ee;
		--secondary: #65cd4e;
		--input-bg: #3d3d3d;
	}
}

@layer base {
	* {
		@apply box-border;
	}
}

.suggested-card {
	@apply rounded-lg border-borderColor border bg-[#232323] min-w-[110px] min-h-[112px] p-4 justify-center flex flex-col gap-1;
}

.icon-btn {
	@apply items-center inline-flex justify-center rounded-full hover:bg-background hover:bg-opacity-30 w-8 h-8;
}

.chip-base-btn {
	@apply inline-flex items-center rounded-full gap-2 px-2;
}

.icon-btn {
	@apply rounded-full w-11 h-11 border border-primary/5 flex justify-center items-center;
}

.quill {
	.ql-snow {
		border-radius: 0.375rem;
		&.ql-container {
			border: none !important;
			background: #f6f6f6;
			min-height: 200px;
		}
		&.ql-toolbar {
			margin-bottom: 0.5rem;
			border-color: #eeeeee;
		}
	}
}
